<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
			
		<title>Employee Directory</title>
	</head>
	
	<body>
	
		<div class="container">
			<h3>Employee Directory</h3>
			<hr>
			
			<!-- Add a button -->
			<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
			
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th> 
						<th>Action</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="theEmployee : ${employees}">
						<td th:text="${theEmployee.firstName}"></td>
						<td th:text="${theEmployee.lastName}"></td>
						<td th:text="${theEmployee.email}"></td>
						
						<!-- Add button or link for update -->
						<td>
							<a th:href="@{/employees/showFormForUpdate(employeeId=${theEmployee.id})}" class="btn btn-info btn-sm">Update</a>
							
							<a th:href="@{/employees/delete(employeeId=${theEmployee.id})}" class="btn btn-danger btn-sm"
							onclick="if(!(confirm('Are you sure you want to delete this employee'))) return false">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>






